*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    height: 100vh;
    width: 100vw;
    background-color: rgb(11, 11, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}
.addTask{
    height: 19vh;
    width: 100%;
    background-color: rgb(108, 108, 237);
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}
form{
    width: 100%;
    display: flex;
    justify-content: center;
}
form>input{
    padding: 5px;
    width: 80%;
    font-size: .7rem;
}
.addTask>h1{
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
}
.btns>button{
    padding: 5px;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    color: white;
    background-color:rgb(11, 11, 49) ;
    width: 65px;
    cursor: pointer;
    margin-right: 10px;
}
.addTask>button:hover{
    cursor: pointer;
}
.dashed{
    border-bottom: 3px dashed rgb(108, 108, 237);
    height: 10px;
    width: 100%;
}
.Todos{
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    margin-top: 10px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
.listDiv>p{
    color: rgb(201, 197, 197);
    border-bottom: 1px solid rgb(62, 61, 61);
    padding-bottom: 5px;
}
.listDiv{
    width:100% ;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.listDiv>button{
    padding: 5px;
    font-size: 16px;
    width: 3vw;
    border: none;
    background-color:rgb(11, 11, 49) ;
    color: white;
}
@media (max-width:480px){
    .container{
        width: 90%;

    }.addTask{
        height: 20vh;
    }
    form>input{
        padding: 7px;
    }
    .addTask>h1{
        font-size: 1.5rem;
    }
    .addTask>button{
        padding: 3px;
    }
    .listDiv{
        padding: 3px;
    }
    .listDiv>button{
        width: 15%;
        padding: 0;
        font-size: 0.7rem;
    }
    .Todos{
        padding: 8px;
    }
}
